body {
    margin: 0 auto;
    width: 80%;
}

/*
#container {
    display: flex;

}
*/

#timer-container {
    margin: 0 auto;
    margin-top: 100px;
    width: 30%;
}

#circle-timer {
    fill: gray;
    stroke: red;
    stroke-width: 50;
    stroke-dasharray: 0 158;
    
}

svg {
    transform: rotate(-90deg);
    background: gray;
    border-radius: 50%;

}

text {
    transform: rotate(90deg);
    font-family="Verdana";
    font-size="25";
}

#cover {
    fill: white;
}

#controls {
    margin-top: 10px;
    
}

#settings-panel {
    position: relative;
    display: inline-block;
    top: -18em;
    left: 105%;
    width: 300px;   

}

#settings {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    left: 30%;
    margin-left: -60px;
    height: 100%;

}

.control {
    display: inline-block;
    width: 60%;
    height: 100px;
}

#log {
    width: 60%;
}

h3 {
    
/*    text-align: center;*/
}

p {
    margin-top: -15px;
    font-size: 1.4em;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}



#graph {
    height: 100px;
    width: 100px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    left: 40%;
}

.bar {
    background-color: green;
    position: relative;
    height: 16px;
    margin-top: 8px;
    margin-bottom: 8px; 
}

.label {
    position: absolute;
    left: -30px;
    top: 1px;  
    font-size: .8em;
}

@media (max-width: 900px) { 
    body {
        width: 50%;
    }
    
    #timer-container {
        width: 60%;
    }
    
    .control {
        height: 50px;
    }
    
    #settings-btn {
        font-size: 1.5em;
    }
    
    #settings-panel {
        top: 0;
        left: 0;
        font-size: .8em;
        width: 200px;
    }
    
    #settings {
        left: 30%;
    }
}

@media (max-width: 400px) { 
    body {
        width: 80%;
    }
    
    #timer-container {
        width: 50%;
    }
    
    .control {
        height: 40px;
    }
    
    #settings-btn {
        font-size: 1.5em;
    }
    
    #settings-panel {
        top: 0;
        left: 0;
        font-size: .6em;
        width: 150px; 
    }
    
    #settings {
        left: 50%;
    }
}

